
.homecategoryimage{clear: both;margin: 15px 0 15px 0;background: #fff;box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);background: #eee;padding: 0px !important;}
.sliderlayout{border: none;height: 160px !important;clear: both; width: 94%;margin: 0 auto;}
.sliderlayout > div{border: none !important;}
/* .slick-slide{background:#fff;height: 100px !important;display: flex !important;flex-direction: column !important;justify-content: center !important;margin: 0px !important;padding: 0px !important;border: 1px solid #ccc;} */
.imgfig img{border-radius: 50% !important;margin:10px auto;height: 100px;width: 100px;display: flex !important;
    flex-direction: column !important;background: #fff;
    justify-content: center !important;padding: 1px;border: 2px solid hsl(7, 89%, 64%);}
.imgfig img:focus-visible { outline: none !important;}
.sliderbox {
    margin: 0 auto !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    clear: both;
    height: 160px;
    background: #fff;
    border-right: 5px solid #fff !important;
}
.imgfig{margin: 0px;}
a {
    text-decoration: none;
  }
.imgfig figure{margin: 0px;}
.imgfig figcaption {    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;height: 40px;
    font-size: 12px;text-align: center;width: 100%;color: #000;padding: 10px;}
.imgfig figcaption:focus-visible { outline: none !important;}
.sliderlayout > div > div > div {height: 160px !important;border:none;}
.sliderlayout > div > div  {height: 160px !important;}
.sliderlayout > div >  {height: 160px !important;}
.nodesign{text-decoration: none;border: none;text-decoration: none;}
.nodesign:focus-visible{outline: none;}
.sliderlayout{border: none;height: 160px !important;clear: both; width: 94%;margin: 0 auto;    padding: 0 5px;}
    .slick-prev{justify-content: flex-end !important;
        display: flex !important;
        align-content: center !important;
        align-items: center !important;
        align-self: center !important;}
    .slick-next{justify-content: flex-end !important;
        display: flex !important;
        align-content: center !important;
        align-items: center !important;
        align-self: center !important;}

@media(min-width:200px) and (max-width:680px){
    .homecategoryimage{clear: both;margin: 15px 0 15px 0;background: #fff;box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);background: #eee;padding: 0px !important;}
    .sliderlayout{border: none;height: 140px !important;clear: both; width: 86%;margin: 0 auto;    padding: 0 5px;}
    .imgfig img{border-radius: 50% !important;margin:10px auto 5px;height: 100px;width: 100px;display: flex !important;
        flex-direction: column !important;background: #fff;
        justify-content: center !important;padding: 1px;border: 2px solid hsl(7, 89%, 64%);}
    .sliderbox {
        margin: 0 auto !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        clear: both;
        height: 140px;
        background: #fff;
        border-right: 5px solid #fff !important;
    }
    .sliderlayout > div > div > div {height: 140px !important;border:none;padding: 10px 0 0 0px;
        background: #fff;}
.sliderlayout > div > div  {height: 140px !important;}
.sliderlayout > div >  {height: 140px !important;}
.imgfig figcaption {    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;height: 40px;
    font-size: 10px;text-align: center;width: 100%;color: #000;padding: 0 5px;}
    .slick-prev:before{font-size: 22px !important;
        line-height: 1.3 !important; left:5px;
        position: relative;}
    .slick-next:before{font-size: 22px !important;
        line-height: 1.3 !important;right: 5px;
        position: relative;}
        .slick-prev{justify-content: flex-end;
            display: flex !important;
            align-content: center;
            align-items: center;
            align-self: center;}
        .slick-next{justify-content: flex-end;
            display: flex !important;
            align-content: center;
            align-items: center;
            align-self: center;}
}
@media(min-width:681px) and (max-width:1000px){
    .sliderlayout{border: none;height: 150px !important;clear: both; width: 90%;margin: 0 auto;    padding: 0 5px;}
    
    .homecategoryimage{clear: both;margin: 15px 0 15px 0;background: #fff;box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);background: #eee;padding: 0px !important;}
        .sliderbox {
            margin: 0 auto !important;
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            clear: both;
            height: 150px !important;
            background: #fff;
            border-right: 5px solid #fff !important;
        }
}
@media(min-width:1001px)and (max-width:1500px){
    .homecategoryimage{clear: both;margin: 15px 0 15px 0;background: #fff;box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);background: #eee;padding: 0px !important;}
    .sliderlayout{border: none;height: 150px !important;clear: both; width: 92%;margin: 0 auto;padding: 0px 5px;}
    .sliderlayout > div{border: none !important;}
    /* .slick-slide{background:#fff;height: 100px !important;display: flex !important;flex-direction: column !important;justify-content: center !important;margin: 0px !important;padding: 0px !important;border: 1px solid #ccc;} */
    .imgfig img{border-radius: 50% !important;margin:10px auto;height: 100px;width: 100px;display: flex !important;
        flex-direction: column !important;background: #fff;
        justify-content: center !important;padding: 1px;border: 2px solid hsl(7, 89%, 64%);}
    .imgfig img:focus-visible { outline: none !important;}
    .sliderbox {
        margin: 0 auto !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        clear: both;
        height: 160px !important;
        background: #fff;
        border-right: 5px solid #fff !important;
    }
    .imgfig{margin: 0px;}
    a {
        text-decoration: none;
      }
    .imgfig figure{margin: 0px;}
    .imgfig figcaption {    overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 600;height: 40px;
        font-size: 12px;text-align: center;width: 100%;color: #000;padding: 10px;}
    .imgfig figcaption:focus-visible { outline: none !important;}
    .sliderlayout > div > div > div {height: 150px !important;border:none;}
    .sliderlayout > div > div  {height: 150px !important;}
    .sliderlayout > div >  {height: 150px !important;}
    .nodesign{text-decoration: none;border: none;text-decoration: none;}
    .nodesign:focus-visible{outline: none;}
       
    
}